* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* FUNDO SUAVE */
body {
    background-color: #fdf6e3; /* bege claro */
    color: #402416;
}

/* HEADER */
.header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #fff;
    border-bottom: 2px solid #EAD7C0;
}

/* LOGO */
.logo img {
    height: 60px;
}

/* MENU */
.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #D1001E;
    font-weight: 500;
    font-size: 16px;
}

.menu a:hover {
    color: #FFB400;
}

/* LADO DIREITO */
.group {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* CARRINHO */
.carrinho i {
    font-size: 22px;
    cursor: pointer;
}

/* USER */
.cadastro_conteiner {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user {
    font-weight: 500;
}

.admin {
    color: red;
    font-weight: bold;
}

/* BOTÕES */
.button-login,
.button-logout {
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.button-login {
    background-color: #4CAF50;
}

.button-login:hover {
    background-color: #3e8e41;
}

.button-logout {
    background-color: #ff4d4d;
}

.button-logout:hover {
    background-color: #cc0000;
}

.menu,
.group {
    height: 100%;
    display: flex;
    align-items: center;
}


/* estilizaçã dos produtos */
.produtos {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding: 20px;
}


.produto {
background-color: white;
border-radius: 8px;
width: 220px;
text-align: center;
padding: 10px;
}


.produto img {
width: 100%;
border-radius: 8px;
}


.produto h2 {
font-size: 18px;
margin: 10px 0 5px;
}


.preco {
color: #e2b97c;
font-weight: bold;
}


button {
background-color: #e2b97c;
color: white;
border: none;
padding: 8px 12px;
border-radius: 6px;
cursor: pointer;
}


button:hover {
background-color: #d1a55e;
}

.produtos2 {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding: 20px;
}


.produto2 {
background-color: white;
border-radius: 8px;
width: 220px;
text-align: center;
padding: 10px;
}


.produto2 img {
width: 100%;
border-radius: 8px;

}


.produto2 h2 {
font-size: 18px;
margin: 10px 0 5px;
}


.preco {
color: #e2b97c;
font-weight: bold;
}


button {
background-color: #e2b97c;
color: white;
border: none;
padding: 8px 12px;
border-radius: 6px;
cursor: pointer;
}


button:hover {
background-color: #d1a55e;
}


/* FOOTER */
footer {
    background-color:rgb(160, 97, 45);
    padding: 20px;
    text-align: center;
    border-top: 2px solid #EAD7C0;
    color: #EAD7C0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color:#EAD7C0;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d8c309;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-socials a {
  color: #EAD7C0;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #d8c309;
}

.footer-copy {
  font-size: 15px;
  color: #EAD7C0;
  margin-top: 10px;
}