/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* FUNDO SUAVE */
body {
    background-color: #fdf6e3; /* bege claro */
    color: #402416;
}

/* HEADER */
.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
    border-bottom: 2px solid #EAD7C0;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    gap: 20px;
}

.logo img {
    max-height: 70px;
    width: auto;
    left: 50%;
}

nav a {
    color: #D1001E;
    text-decoration: none;
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: larger;
    font-weight: 500;
    transition: color 0.2s;
}

nav a:hover {
    color: #FFB400;
    text-decoration: underline;
}

.carrinho{
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    size: 20px;
}

.group {
    align-items: end;
    justify-content: space-between;
    gap: 30px;
    display: flex;
    right: 20%;
}

.button-login {
    padding: 10px 20px;
    background: #D1001E;
    color: #ffffff;
    border-radius: 14px;
    text-decoration: none;
    font-size: 16px;
}


.sobre-card {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  background: #ffffff;
  padding: 40px;
  border-radius: 0px;
  box-shadow: 0 0px 0px #00000026; /* sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

/* animação ao passar o mouse */
.sobre-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.sobre-card h2 {
  font-size: 2.4rem;
  margin-bottom: 25px;
  color: #d81305;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* leve sombra no título */
}

.sobre-card p {
  font-size: 1.2rem;
  line-height: 1.9;
  color: #444;
  margin-bottom: 20px;
}

.sobre-card strong {
  color: #d30404;
}

.button-buscar {
  padding: 10px;
  background: #D1001E;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

a.button-login{
    display: inline-block;
     padding: 10px 20px;
  background: #D1001E;
   color: #ffffff;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;

}

input{

  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 14px;
  text-align: left;
}

.container-card{
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  padding: 15px;
}

/* FOOTER */
footer {
    background-color:rgb(160, 97, 45);
    padding: 20px;
    text-align: center;
    border-top: 2px solid #EAD7C0;
    color: #EAD7C0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color:#EAD7C0;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d8c309;
}

.footer-socials {
  display: flex;
  gap: 14px;
}

.footer-socials a {
  color: #EAD7C0;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #d8c309;
}

.footer-copy {
  font-size: 15px;
  color: #EAD7C0;
  margin-top: 10px;
}